<!-- templates/index.html -->

{% extends 'base.html' %} {% block content %}
<form
    hx-post="/search"
    hx-target="#records-results"
    class="w-small w-2/3 mx-auto py-10 text-gray-600"
>
    <input
        type="text"
        name="search"
        id="search"
        placeholder="Search"
        class="bg-white h-10 px-5 pr-10 rounded-full text-2xl focus:outline-none"
    />
    <button
        type="submit"
        hx-indicator=".htmx-indicator"
        class="bg-blue-500 rounded text-white p-3"
    >
        Submit search
    </button>
    <span class="htmx-indicator">Searching...</span>
</form>

<table class="border-collapse w-small w-2/3 mx-auto">
    <thead>
        <tr>
            <th
                class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
            >
                Title
            </th>
            <th
                class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
            >
                Abstract
            </th>
            <th
                class="p-3 font-bold uppercase bg-gray-200 text-gray-600 border border-gray-300 hidden lg:table-cell"
            >
                Action
            </th>
        </tr>
    </thead>
    <tbody id="records-results">
        {% include 'journal.html' %}
    </tbody>
</table>
{% endblock content %}
